/contract
**.RDS
*.Rproj.user
.Rproj.user
/data
githubKey
githubKey.pub
/distributiveModel/data
.Rproj.user/shared/notebooks/paths
/temp
/countyMapReporting/data
/archive/data_backupds
archive/
output_rasters/mean.tif
output_rasters/median.tif
output_rasters/stdev.tif